*~
*.o
rk
test
example
example3d
rotationField
randomField
linesField
gaussianField
a.out
out
plot.dat
rk2.dat
rk4.dat
rk2-vs-rk4.p
dhelix.hdr
dhelix.img
dhelix_vector.hdr
dhelix_vector.img
dhelix_vector.in
dhelix_vector.singlein
gtest*
tests_runner
libgtest.a
runge-kutta.sublime-project
runge-kutta.sublime-workspace